<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<form name="agreementForm">
	  	<div class="form-group">
    		<label for="fullName">ФИО сотрудника</label>
    		<input class="form-control"
           cam-variable-type="String"
           cam-variable-name="fullName"
           name="fullName" disabled="disabled"/>
  		</div>

  		<div class="form-group">
	    	<label for="dateFrom">Дата Начала</label>
		    <div class="input-group">
			    <input class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-cam-variable-type ng-empty ng-valid-date" name="dateFrom" cam-variable-type="String" cam-variable-name="dateFrom" type="text" uib-datepicker-popup="dd/MM/yyyy" is-open="dateFieldOpeneddateFrom" ng-model="dateFrom" disabled="disabled">
			    <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty"><!-- ngIf: isOpen -->
			     </div>
			    <div class="input-group-btn" disabled="disabled">
			    	<button type="button" class="btn btn-default" ng-click="opendateFrom($event)">
			         	<i class="glyphicon glyphicon-calendar">
			          	</i>
			        </button>
			    </div>

	    	</div>
		    <script cam-script="" type="text/form-script">
		             $scope.opendateFrom = function ($event) { $event.preventDefault(); $event.stopPropagation(); $scope.dateFieldOpeneddateFrom = true; };
		      </script>
		   
	  	</div>

	  	<div class="form-group">
	    	<label for="dateTo">Дата окончания</label>
		    <div class="input-group">
			    <input class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-cam-variable-type ng-empty ng-valid-date" name="dateTo" cam-variable-type="String" cam-variable-name="dateTo" type="text" uib-datepicker-popup="dd/MM/yyyy" is-open="dateFieldOpeneddateTo" ng-model="dateTo" disabled="disabled">
			    <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty"><!-- ngIf: isOpen -->
			     </div>
			    <div class="input-group-btn" disabled="disabled">
			    	<button type="button" class="btn btn-default" ng-click="opendateTo($event)">
			         	<i class="glyphicon glyphicon-calendar">
			          	</i>
			        </button>
			    </div>

	    	</div>
		    <script cam-script="" type="text/form-script">
		             $scope.opendateTo = function ($event) { $event.preventDefault(); $event.stopPropagation(); $scope.dateFieldOpeneddateTo = true; };
		      </script>
		  
	  	</div>


  		<div class="form-group">
    		<textarea type="text" cam-variable-name="reason" cam-variable-type="String" cols="40" rows="10" disabled="disabled"></textarea>
  		</div>


  		<div class="form-group">
	        <select cam-variable-name="status"
	                cam-variable-type="String" >
	            <option  value="approved">Согласовать</option>
	            <option value="cancelled">Отказать</option>
	            <option value="executed">Исполнена</option>
	        </select>
    	</div>


	</form>
	
</body>
</html>