<form name="requestLoan">
    <div class="form-group">
        <label for="applicationGUI">Номер заявки</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="applicationGUI"
               name="applicationGUI" disabled="disabled"/>
    </div>
    <div class="form-group">
        <label for="firstName">Фамилия</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="firstName"
               name="firstName" />

        <label for="name">Имя</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="name"
               name="name" />

        <label for="lastName">Отчество</label>
        <input class="form-control"
               cam-variable-type="String"
               cam-variable-name="lastName"
               name="lastName" />
    </div>

    <div class="form-group">
        <label for="dateBirth">Дата рождения</label>
        <div class="input-group">
            <input class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-valid-cam-variable-type ng-empty ng-valid-date" name="dateBirth" cam-variable-type="String" cam-variable-name="dateBirth" type="text" uib-datepicker-popup="dd/MM/yyyy" is-open="dateFieldOpeneddateBirth" ng-model="dateBirth">
            <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty"><!-- ngIf: isOpen -->
        </div>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="opendateBirth($event)">
                    <i class="glyphicon glyphicon-calendar">
                    </i>
                </button>
            </div>

        </div>
        <script cam-script="" type="text/form-script">
             $scope.opendateBirth = function ($event) { $event.preventDefault(); $event.stopPropagation(); $scope.dateFieldOpeneddateBirth = true; };
      </script>
        <!-- ngIf: this.generatedForm.vacationStartDate.$invalid && this.generatedForm.vacationStartDate.$dirty -->
    </div>





    <div class="form-group">
        <label for="stage">Стаж</label>
        <input class="form-control"
               cam-variable-type="Long"
               cam-variable-name="stage"
               name="stage" />
    </div>

    <div class="form-group">
        <label for="jobPlace">Место работы</label>
    </div>
    <div class="form-group">
        <textarea type="text" cam-variable-name="jobPlace" cam-variable-type="String" cols="40" rows="10"></textarea>
    </div>
</form>

